body {
    background-color: #BAC4E8;
    font-family: Garamond;
    color: #29507A;
}

h1 {
    font-size : 20px;
    margin-left : auto;
    margin-right : auto;
    text-align : center;
}

.loginpanel {
    align-content : center;
    position : absolute;
    width : 900px;
    left : 0px;
    right : 0px; 
    margin-left : auto;
    margin-right : auto;
}

.logininputlabel {
    margin-right : 10px;
    display: inline-block;
    text-align : right;
    width : 450px;
}

.center {
    position : absolute;
    left : 0px;
    right : 0px;
    margin-left : auto;
    margin-right : auto;
}
